._js_components_footer_footer__footer {
  border-top: 1px solid #FF5722;
  padding: 15px 30px 10px;
  font-size: 12px;
}
._js_components_footer_footer__link {
  color: #FF5722;
  text-decoration: none;
}
._js_components_header_header__header {
  border-bottom: 1px solid #FF5722;
  padding: 15px 30px 10px;
}
._js_components_header_header__title {
  color: #FF5722;
  font-size: 24px;
}
._js_components_content_content__content {
  padding: 30px;
}
._js_components_thumbnails_thumbnails__thumbnails {
  overflow: hidden;
  width: 100%;
  margin: 0 -5px;
}

._js_components_thumbnails_thumbnails__key {
  position: absolute;
  left: -99em;
}
._js_components_detail_detail__detail {
  margin: 30px -30px 30px;
  padding: 0 30px;
}

._js_components_detail_detail__header {
 display: flex;
 background-color: lightgray;
 margin: 30px -30px;
 padding: 10px 30px 5px;
 color: #fff; 
}

._js_components_detail_detail__title {
  flex: 1;
}

._js_components_detail_detail__diff{ 
  display: inline-block;
}

._js_components_detail_detail__diff_value {
  font-size: 24px;
}

._js_components_detail_detail__images {
  display: flex;
  margin: 0 -10px;
}

._js_components_detail_detail__link {
  flex: 1;
  margin: 0 10px;
  border: 1px solid yellowgreen;
}

._js_components_detail_detail__image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

._js_components_detail_detail__detail_failed ._js_components_detail_detail__header {
  background-color: firebrick;
}

._js_components_detail_detail__detail_failed ._js_components_detail_detail__link {
  border-color: firebrick;
}

._js_components_detail_detail__detail_success ._js_components_detail_detail__header {
  background-color: yellowgreen;
}

._js_components_detail_detail__detail_success ._js_components_detail_detail__link {
  border-color: yellowgreen;
}
._js_components_thumbnails_item_item__item {
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  border: 2px solid lightgray;
}

._js_components_thumbnails_item_item__item_failed {
  border-color: firebrick;
}

._js_components_thumbnails_item_item__item_success {
  border-color: yellowgreen;
}

._js_components_thumbnails_item_item__item_active {
  box-shadow: 0 0 3px #fff, 0 0 1px #000;
  transform: scale(1.1);
}

._js_components_thumbnails_item_item__image {
  max-width: 100%;
  max-height: 100%;
}
