<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Barong Test Result</title>
  <link rel="stylesheet" href="build/app.css" />
</head>
<body>
  <div id="page"></div>
  <script src="build/app.js"></script>
  <script>
    var data = [
      {
        ref: "mobile_bola/reference/bola-index-page__article-headline.png",
        test: "mobile_bola/test/bola-index-page__article-headline.png"
      },
      {
        ref: "mobile_bola/reference/bola-index-page__article-snippet-photo.png",
        test: "mobile_bola/test/bola-index-page__article-snippet-photo.png"
      },
      {
        ref: "mobile_bola/reference/bola-index-page__article-snippet-text.png",
        test: "mobile_bola/test/bola-index-page__article-snippet-text.png"
      },
      {
        ref: "mobile_bola/reference/bola-index-page__article-snippet-video.png",
        test: "mobile_bola/test/bola-index-page__article-snippet-video.png"
      },
      {
        ref: "mobile_bola/reference/bola-index-page__footer.png",
        test: "mobile_bola/test/bola-index-page__footer.png"
      },
      {
        ref: "mobile_bola/reference/bola-index-page__header-explore.png",
        test: "mobile_bola/test/bola-index-page__header-explore.png"
      },
      {
        ref: "mobile_bola/reference/bola-index-page__header.png",
        test: "mobile_bola/test/bola-index-page__header.png"
      },
      {
        ref: "mobile_bola/reference/bola-index-page__header-signin.png",
        test: "mobile_bola/test/bola-index-page__header-signin.png"
      },
      {
        ref: "mobile_bola/reference/bola-index-page__menu-panel.png",
        test: "mobile_bola/test/bola-index-page__menu-panel.png"
      },
      {
        ref: "mobile_bola/reference/bola-index-page__search-box.png",
        test: "mobile_bola/test/bola-index-page__search-box.png"
      },
      {
        ref: "mobile_bola/reference/bola-index-page__tags.png",
        test: "mobile_bola/test/bola-index-page__tags.png"
      },
      {
        ref: "mobile_bola/reference/bola-index-page__top-navigation.png",
        test: "mobile_bola/test/bola-index-page__top-navigation.png"
      },
      {
        ref: "mobile_bola/reference/bola-index-page__top-stories.png",
        test: "mobile_bola/test/bola-index-page__top-stories.png"
      },
      {
        ref: "mobile_bola/reference/bola-read-page__article-content.png",
        test: "mobile_bola/test/bola-read-page__article-content.png"
      },
      {
        ref: "mobile_bola/reference/bola-read-page__article-header.png",
        test: "mobile_bola/test/bola-read-page__article-header.png"
      },
      {
        ref: "mobile_bola/reference/bola-read-page__credits.png",
        test: "mobile_bola/test/bola-read-page__credits.png"
      },
      {
        ref: "mobile_bola/reference/bola-read-page__header.png",
        test: "mobile_bola/test/bola-read-page__header.png"
      },
      {
        ref: "mobile_bola/reference/bola-read-page__reading-list.png",
        test: "mobile_bola/test/bola-read-page__reading-list.png"
      },
      {
        ref: "mobile_bola/reference/bola-read-page__related-tags.png",
        test: "mobile_bola/test/bola-read-page__related-tags.png"
      },
      {
        ref: "mobile_bola/reference/bola-read-page__share-button.png",
        test: "mobile_bola/test/bola-read-page__share-button.png"
      },
      {
        ref: "mobile_bola/reference/bola-read-page__thumb.png",
        test: "mobile_bola/test/bola-read-page__thumb.png"
      },
      {
        ref: "mobile_bola/reference/bola-read-page__top-area.png",
        test: "mobile_bola/test/bola-read-page__top-area.png"
      }
    ];
    render(data);
  </script>
</body>
</html>
