<html>
  <head>
    <title>Barong!</title>
    <script src="https://cdn.rawgit.com/Huddle/Resemble.js/master/resemble.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
table {
  border: none;
}
img {
  width: 250px;
}
th {
  background: #ccf;
  text-transform: uppercase;
}
td, th {
  border: 1px solid #ccc;
  padding: 10px;
}
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th class="header-image">Test</th>
        <th class="header-image">Reference</th>
        <th class="header-image">RESULT</th>
        <th class="header-data">DATA</th>
      </tr>
      {{#each imageList}}
        <tr id="row_{{@index}}" class="js-row">
          <td><img src="{{this.a}}" /></td>
          <td><img src="{{this.b}}" /></td>
          <td id="col_diff_{{@index}}"></td>
          <td id="col_data_{{@index}}"></td>
        </tr>
      {{/each}}
    </table>
  </body>
  <script>
    $(".js-row").each(function(index, item) {
      var imageA = $(item).find("img")[0].src;
      var imageB = $(item).find("img")[1].src;

      if(imageB.indexOf('false') < 0){
        resemble(imageA).compareTo(imageB).onComplete(function(data) {
          var image = new Image();
          image.src = data.getImageDataUrl();
          $("#col_diff_" + index).append(image);
          $("#col_data_" + index).html(JSON.stringify(data));
        });
      }
    });
  </script>
</html>
